.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app{
  display: grid;
  place-content: center;
  background-color:black
}
.app h1{
  color:white;
  text-align: center;
}
h1{
  display: flex;
  place-content: center;
}
.app1{
  display:flex;
  flex-direction: row;
  place-content: center;
  /*height:400vh;*/
  background-color: black;
}
.app1 h1{
  color:white;
}
@media(max-width:476px){
  h1{
    display: flex;
    place-content: center;
    font-size:0.6cm;
  }
}
